name: Generate Datas

on:
  schedule:
    - cron: "0 */12 * * *"   # every 12 hours
  workflow_dispatch:

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest

    steps:
      # Snake Animation
      - name: Generate snake animation
        uses: Platane/snk@master
        with:
          github_user_name: jayshah2005
          svg_out_path: dist/github-contribution-grid-snake.svg

      # Push to output branch
      - name: Push snake animation
        uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
